.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: rgb(88, 88, 88);
}


.container {
  max-width: 900px;
  height: calc(100dvh - 140px);
  margin: 40px 60px;
  padding: 30px 40px;
  background-color: #0a0808;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.animated-text{
  
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  text-transform: uppercase;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.logo-name{
  display: flex;
  gap: 10px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.5);
}

main {
  margin-top: 20px;
  display: flex;
}

.welcome-section {
  text-align: left;
}

.welcome-section h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.projects-section h2 {
  font-size: 2em;
  margin-top: 20px;
}

.projects-section ul {
  list-style: none;
  padding: 0;
}

.projects-section ul li {
  margin: 10px 0;
}

.projects-section ul li a {
  text-decoration: none;
  color: #4a90e2;
  font-size: 1.2em;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}
